<h4>
    Shop</h4>

<ul>
    <li><a href="/guys-glow-shirts" title="Guys Glow Shirts" class="activemainmenuitem">
        <span>Guys Glow Shirts</span></a></li>
    <li><a href="/girls-glow-shirts" title="Girls Glow Shirts"><span>Girls Glow Shirts</span></a></li>
    <li><a href="/uv-lights" title="UV Lights"><span>UV Lights</span></a></li>
</ul>

<h4>
    Info</h4>

<ul>
    <li><a href="/returns" title="Returns"><span>Returns</span></a></li>
    <li><a href="/contact" title="Contact Us"><span>Contact Us</span></a></li>
    <li><a href="/new-page" title=""><span>About Us</span></a></li>
</ul>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://illtee.us5.list-manage1.com/subscribe/post?u=270d8b99c867e887cd084691f&amp;id=954fda0419" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<label for="mce-EMAIL">Sign up for our newsletter!</label>
	<input type="hidden" value="4" id="mce-group[1957]-1957-0">
    <input type="email" value="" name="EMAIL" class="email forminput medium" id="mce-EMAIL" placeholder="email address" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->

<sys:copyright by="Illuminatee Inc." />