<!DOCTYPE html>
<html>
<head>
    <title><sys:pagetitle /></title>

    <sys:metatags />
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

    <!-- typekit -->
    <script type="text/javascript" src="https://use.typekit.com/eyp6qzf.js"></script>
    <script type="text/javascript">        try { Typekit.load(); } catch (e) { }</script>

    <sys:css mode="system" file="content/system.css"/>
    <sys:css mode="system" file="content/flexbase.css"/>
    
    <sys:css file="styles.css"/>
    
    <sys:analyticstop />
    
    <script type="text/javascript" src="scripts/ProductThumbnail.js"></script>
    <script type="text/javascript" src="scripts/jquery.backstretch.min.js"></script>

    <script type="text/javascript" src="scripts/site.js"></script>
</head>
<body id="pagebody">    
    <sys:adminpanel /><sys:flexeditor />    
    <div id="site-wrapper">
        <div id="header">
            <sys:include part="header.html" />            
        </div>