<sys:include part="full-header.html" />

<div id="main-content">

    <div class="homepage">

        <div id="homepagecolumn1">

            <div id="featureRotator">
                <div id="videoContainer"></div>
                <h1>
                    Be amazed by our Laser-Reactive Glow Shirts.</h1>
                <h2>
                    Get your own glow shirt below.</h2>
            </div>

            <sys:contentcolumn columnid="1" />
        </div>

        <!--        <div id="homepagecolumn2">
            <sys:contentcolumn columnid="2" />
        </div>

        <div id="homepagecolumn3">
            <sys:contentcolumn columnid="3" />
        </div>

-->

        <div class="clear">
        </div>

    </div>

</div>

<sys:include part="full-footer.html" />
