<sys:include part="full-header.html" />

<div id="main-content">

    <div class="homepage">

        <div id="homepagecolumn1">

            <div id="featureRotator">

                <div id="feature-slide-video">

                    <div class="feature-video">
                        <iframe src="http://player.vimeo.com/video/46854195" width="395" height="222" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>

                    <!--<label>Sign up to our newsletter to get free stuff!</label>
				<div id="mc_embed_signup">
				<form action="http://illtee.us5.list-manage1.com/subscribe/post?u=270d8b99c867e887cd084691f&amp;id=954fda0419" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
					<input type="hidden" value="4" id="mce-group[1957]-1957-0">
					<input type="email" value="" name="EMAIL" class="email forminput medium" id="mce-EMAIL" placeholder="email address" required>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</form>-->

                    <div class="feature-content">
                        <h1>
                            Mind-blowing,<br />Laser-Reactive Glow Shirts</h1>

                        <div id="feature-pinchlight">
                            <img src="http://cdn.illtee.com/p/pinchlight.png" alt="All glow shirts come with a FREE blue LED pinchlight!" /></div>

                        <h2>
                            Draw on these shirts with the included blue LED and watch them illuminate immediately.
                            </h2>
                            <p class="action">Get your glow shirt now.</p>
                    </div>

                </div>

            </div>

            <sys:contentcolumn columnid="1" />
        </div>

        <!--        <div id="homepagecolumn2">
            <sys:contentcolumn columnid="2" />
        </div>

        <div id="homepagecolumn3">
            <sys:contentcolumn columnid="3" />
        </div>

-->

        <div class="clear">
        </div>

    </div>

</div>

<sys:include part="full-footer.html" />
