<cruisecontrol xmlns="http://thoughtworks.org/ccnet/1/6" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <project name="MerchantTribe">
    <artifactDirectory>c:\build\Artifacts</artifactDirectory>
    <webURL></webURL>
    <triggers>
      <intervalTrigger buildCondition="IfModificationExists" name="continuous" seconds="1800"/>
    </triggers>
    <workingDirectory>c:\build\builds\merchanttribe</workingDirectory>
    <modificationDelaySeconds>2</modificationDelaySeconds>
    <sourcecontrol type="git">
      <repository>git@github.com:mcastells/MerchantTribe.git</repository>
      <branch>master</branch>
      <autoGetSource>true</autoGetSource>
      <executable>C:\Program Files (x86)\Git\cmd\git.cmd</executable>
      <workingDirectory>c:\build\builds\merchanttribe</workingDirectory>
      <timeout>300000</timeout>
    </sourcecontrol>
    <tasks>
      <!-- Prod -->
      <msbuild>
        <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <workingDirectory>c:\build\builds\merchanttribe</workingDirectory>
        <projectFile>MerchantTribeStore.sln</projectFile>
        <buildArgs>/noconsolelogger /p:Configuration=Production;CreatePackageOnPublish=True;WarningLevel=0;DeployTarget=Package;DeployOnBuild=True /v:q "/l:ThoughtWorks.CruiseControl.MsBuild.XmlLogger,C:\Program Files (x86)\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll;c:\build\Artifacts\msbuild-results.xml"</buildArgs>
        <targets>Rebuild</targets>
        <timeout>0</timeout>
      </msbuild>

      <!--Delete the testResults.trx first. This is required as MsTest will not create the file if it exists this could be merged with the mstest action in a single batch file -->
          <!--
      <exec>
        <executable>$(windir)\system32\cmd</executable>
        <baseDirectory>c:\build\builds\merchanttribe\MerchantTribe.Commerce.Tests\bin\Debug</baseDirectory>
        <buildArgs>/c if exist testResults.trx del testResults.trx /f</buildArgs>
        <buildTimeoutSeconds>60</buildTimeoutSeconds>
      </exec>

      -->
          <!-- Unit Tests -->
          <!--
      <exec>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\mstest.exe</executable>
        <baseDirectory>c:\build\builds\merchanttribe\MerchantTribe.Commerce.Tests\bin\Debug</baseDirectory>
        <buildArgs>/testcontainer:LiveSmart.UnitTests.dll /resultsfile:testResults.trx</buildArgs>
        <buildTimeoutSeconds>12000</buildTimeoutSeconds>
      </exec>-->
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>c:\build\builds\merchanttribe\MerchantTribe.Commerce.Tests\bin\Debug\testResults.trx</file>
        </files>
      </merge>
      <xmllogger logDir="c:\build\Artifacts\buildlogs" />

      <!-- DEPLOY THE DEVELOPMENT PACKAGE TO THIS SERVER -->
      <exec>
        <executable>C:\DeploymentScripts\DeployDevCCNet.bat</executable>
        <baseDirectory>C:\DeploymentScripts</baseDirectory>
        <buildArgs></buildArgs>
      </exec>
    </publishers>
  </project>
</cruisecontrol>