<h1>
    Thank You!</h1>
<h3>
    You'll have your bad-ass new glow shirt in a few days.</h3>
<div class="shade box">
    <h2 class="hand">
        To get your FREE lazer viewers, click like below and help spread the word!</h2>
    <div class="fb-like" data-href="http://illtee.com" data-send="true" data-width="450"
        data-show-faces="true" data-colorscheme="dark" data-font="arial">
    </div>
</div>

@Html.Partial("_SetFirstPassword")
@if (ViewBag.AcumaticaOrder != null)
{
    @Html.Partial("_ViewOrderAcumatica")
}
else
{
    @Html.Partial("_ViewOrder", (MerchantTribe.Commerce.Orders.Order)ViewBag.Order)
}